NET CLK100       LOC = Y9   |IOSTANDARD=LVCMOS33;  # "GCLK"
NET "clk100" TNM_NET = clk100;
TIMESPEC TS_clk100 = PERIOD "clk100" 10 ns HIGH 50%;

# VGA out
NET vga_blue<0>       LOC = Y21  | IOSTANDARD=LVCMOS33;  # "VGA-B1"
NET vga_blue<1>       LOC = Y20  | IOSTANDARD=LVCMOS33;  # "VGA-B2"
NET vga_blue<2>       LOC = AB20 | IOSTANDARD=LVCMOS33;  # "VGA-B3"
NET vga_blue<3>       LOC = AB19 | IOSTANDARD=LVCMOS33;  # "VGA-B4"
NET vga_green<0>      LOC = AB22 | IOSTANDARD=LVCMOS33;  # "VGA-G1"
NET vga_green<1>      LOC = AA22 | IOSTANDARD=LVCMOS33;  # "VGA-G2"
NET vga_green<2>      LOC = AB21 | IOSTANDARD=LVCMOS33;  # "VGA-G3"
NET vga_green<3>      LOC = AA21 | IOSTANDARD=LVCMOS33;  # "VGA-G4"
NET vga_red<0>        LOC = V20  | IOSTANDARD=LVCMOS33;  # "VGA-R1"
NET vga_red<1>        LOC = U20  | IOSTANDARD=LVCMOS33;  # "VGA-R2"
NET vga_red<2>        LOC = V19  | IOSTANDARD=LVCMOS33;  # "VGA-R3"
NET vga_red<3>        LOC = V18  | IOSTANDARD=LVCMOS33;  # "VGA-R4"
NET vga_hsync         LOC = AA19 | IOSTANDARD=LVCMOS33;  # "VGA-HS"
NET vga_vsync         LOC = Y19  | IOSTANDARD=LVCMOS33;  # "VGA-VS"


NET "OV7670_PWDN"    LOC = "Y11"  | IOSTANDARD=LVTTL | SLEW=SLOW; # JA0
NET "OV7670_RESET"   LOC = "AB11" | IOSTANDARD=LVTTL | SLEW=SLOW; # JA4
NET "OV7670_D<0>"    LOC = "AA11" | IOSTANDARD=LVTTL | SLEW=SLOW; # JA1
NET "OV7670_D<1>"    LOC = "AB10" | IOSTANDARD=LVTTL | SLEW=SLOW; # JA5
NET "OV7670_D<2>"    LOC = "Y10"  | IOSTANDARD=LVTTL | SLEW=SLOW; # JA2
NET "OV7670_D<3>"    LOC = "AB9"  | IOSTANDARD=LVTTL | SLEW=SLOW; # JA6
NET "OV7670_D<4>"    LOC = "AA9"  | IOSTANDARD=LVTTL | SLEW=SLOW; # JA3
NET "OV7670_D<5>"    LOC = "AA8"  | IOSTANDARD=LVTTL | SLEW=SLOW; # JA7

NET "OV7670_D<6>"    LOC = "W12" | IOSTANDARD=LVTTL | SLEW=SLOW; # JB0
NET "OV7670_D<7>"    LOC = "V12" | IOSTANDARD=LVTTL | SLEW=SLOW; # JB4
NET "OV7670_XCLK"    LOC = "W11" | IOSTANDARD=LVTTL | SLEW=SLOW; # JB1
NET "OV7670_PCLK"    LOC = "W10" | IOSTANDARD=LVTTL | SLEW=SLOW; # JB5
NET "OV7670_HREF"    LOC = "V10" | IOSTANDARD=LVTTL | SLEW=SLOW; # JB2
NET "OV7670_VSYNC"   LOC = "V9"  | IOSTANDARD=LVTTL | SLEW=SLOW; # JB6
NET "OV7670_SIOD"    LOC = "W8"  | IOSTANDARD=LVTTL | SLEW=SLOW | PULLUP; # JB3
NET "OV7670_SIOC"    LOC = "V8"  | IOSTANDARD=LVTTL | SLEW=SLOW; # JB7

NET "altitude_down"	LOC = "AB7" | IOSTANDARD=LVCMOS33 | SLEW=SLOW ; # JC3_P
NET "altitude_up"		LOC = "R6" | IOSTANDARD=LVCMOS33 | SLEW=SLOW ; # JC1_P
NET "azimuth_left"	LOC = "AB6" | IOSTANDARD=LVCMOS33 | SLEW=SLOW ; # JC1_N
NET "azimuth_right"	LOC = "T6" | IOSTANDARD=LVCMOS33 | SLEW=SLOW ; # JC3_N
NET "altitude_enable"	LOC = "Y4" | IOSTANDARD=LVCMOS33 | SLEW=SLOW ; #JC2_P
NET "azimuth_enable"	LOC = "T4" | IOSTANDARD=LVCMOS33 | SLEW=SLOW ; #JC4_P
NET "fire_enable"		LOC = "AA4" | IOSTANDARD=LVCMOS33 | SLEW=SLOW ; #JC2_N


NET "OV7670_PCLK"    CLOCK_DEDICATED_ROUTE = FALSE;

NET "Led<0>"  LOC = "T22" | IOSTANDARD=LVTTL ; 
NET "Led<1>"  LOC = "T21" | IOSTANDARD=LVTTL ; 
NET "Led<2>"  LOC = "U22" | IOSTANDARD=LVTTL ; 
NET "Led<3>"  LOC = "U21" | IOSTANDARD=LVTTL ; 
NET "Led<4>"  LOC = "V22" | IOSTANDARD=LVTTL ; 
NET "Led<5>"  LOC = "W22" | IOSTANDARD=LVTTL ; 
NET "Led<6>"  LOC = "U19" | IOSTANDARD=LVTTL ;  
NET "Led<7>"  LOC = "U14" | IOSTANDARD=LVTTL ;  

NET "btn" LOC = "T18" | IOSTANDARD=LVTTL; # Up button